* {
    margin: 0 0 0 0;
    padding: 0;
}
#container {
    margin: 0 auto;
	margin-top: 10px;
    width: 778px;
    text-align: left;
    position: relative;
    /*min-height: 100%;  For Modern Browsers */
    /*height: auto !important;  For Modern Browsers */
    /*height: 100%;  For IE */ 
}
#head {
    width:778px; 
}

#banner {
    width:778px; 
    height:127px; 
    background-image:url(banner.png); 
    background-repeat:no-repeat;
}

#content {
    width:776px;
    padding-bottom:20px;
    min-height: 270px; /* For Modern Browsers */
    height: auto !important; /* For Modern Browsers */
    height: 50%; /* For IE */ 	
    border-left:1px solid #B1B1B1;
    border-right:1px solid #B1B1B1;
}

#content:after {
    clear: both;
    display: block;
    font: 1px/0px serif;
    content: ".";
    height: 0;
    visibility: hidden;
}

#content li {
    list-style:none;
    display:block;
}

#bottom {
    width: 776px;
    height: 28px;

    border-left:1px solid #B1B1B1;
    border-right:1px solid #B1B1B1;
}

#bottom li {
    list-style:none;
    float:left;
    height: 28px;
}

#bottom a {
    display:block;
    height:28px;
}

#bottom a.b1 {
    position:absolute;
    left:1px;
    width:156px;
}

#bottom a.b2 {
    width:54px;
    margin-right:2px;
    position:absolute;
    left:157px;	
}

#bottom a.b2 ul {
    text-align:right;
    padding-top:5px;
}

#bottom a.b3 {
    width:564px;
    height:28px;
    position:absolute;
    left:211px;
    background-color:#81d549;
    margin-right:2px;
				text-align:right;
}
.copyright {height:16px;width:776px; padding-top:10px; border-left:1px solid #B1B1B1; border-right:1px solid #B1B1B1; text-align:center;}
.bottom_line {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	background-color:#3203c1; 
}
.submit {padding-top:2px;}

#bottomx {
    width: 100%;
    position: absolute;
    bottom: 0 !important;
    bottom: -1px; /* For Certain IE widths */
    height: 1px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }
a:hover { text-decoration:none; }

#loginArea { width:778px;height:389px; }
.login_frame { width:334px;position:absolute;top:155px;left:222px; }
.login_title { width:334px;height:19px;background-color:#3203c1;list-style:none; }
.login_title_left { width:4px;height:19px;float:left;}
.login_title_center { width:246px;height:15px;float:left;padding:4px 0 0 5px;color:#ffffff;font-weight: bold;}
.login_title_center2 { width:75px;height:19px;float:left;background:url(../img/push_2.gif) no-repeat left top;color:#ffffff;font-weight: bold;}
.login_title_centeren { width:75px;height:19px;float:left;color:#ffffff;font-weight: bold; background:url(../img/login_english.gif) no-repeat left top;}
.login_title_centercn { width:75px;height:19px;float:left;color:#ffffff;font-weight: bold; background:url(../img/login_chinese.gif) no-repeat left top;}
.login_title_centerrus { width:75px;height:19px;float:left;color:#ffffff;font-weight: bold; background:url(../img/login_russian.gif) no-repeat left top;}
.login_title_centercn_bl { width:75px;height:19px;float:left;color:#ffffff;font-weight: bold; background:url(../img/login_chinese_bl.gif) no-repeat left top;}

.login_title_right { width:4px;height:19px;float:left; }
.login_content { width:332px;background-color:#f6fff9;list-style:none;border:1px solid #3203c1; }
.login_rus_content { width:332px;background-color:#f8fff3;list-style:none;border:1px solid #3203c1; }
.login_blank { width:300px;height:14px;list-style:none; }
.login_ul_1 { width:330px;height:20px;list-style:none; }
.login_li_1 { width:100px;height:17px;float:left;text-align:right;padding-top:3px; }
.login_li_rus_1 { width:150px;height:17px;float:left;text-align:right;padding-top:3px; }
.login_li_2 { width:135px;height:20px;float:left;padding-left:4px; }
.login_li_3 { width:78px;height:20px;float:left; }
.login_li_rus_3 { width:145px;height:20px;float:left; }
.login_li_4 { width:100px;height:17px;float:left;text-align:right;padding-top:3px; }
.login_3bb_content { width:332px;background-color:#f8fff3;list-style:none;border:1px solid #3203c1; }
.login_ul_3bb_1 { width:330px;height:40px;list-style:none; }
.login_li_3bb_1 { width:250px;height:40px;float:left;text-align:left;padding-top:3px;padding-left:20px;margin-left:30px; }
.login_li_3bb_3 { width:78px;height:20px;float:left; }
.login_li_3bb_left  { width:120px;height:20px;float:left;}
.login_3bb_blank { width:300px;height:5px;list-style:none; }


.type{ position:absolute;top:32px;right:25px;font:20px Arial,sans-serif;color:#fff;z-index:999; }
.comtype{ position:absolute;top:20px;left:250px;font:16px Arial,sans-serif;color:#fff;z-index:999; }

html, body {
    /*height: 100%;  Required */
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    /*min-height:101%;*/
    background-color:#fff; /* style unifys in case window color changes */
}

.username,.password,.validatecode {
    width:120px;
    height:18px;
    border:1px solid #7F9DB7;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    vertical-align:middle;
    text-align:left;
}

.login {
    height:25px;
    width:80px;
    vertical-align:middle;
    text-align:center;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.login_rus {
    height:22px;
    width:150px;
    vertical-align:middle;
    text-align:center;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.notecontent{
	font-size: 12px;
	font-family:"Times New Roman", Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#000000;
}

.password{
    -webkit-text-security:disc;
}

.login {
	cursor: pointer;
}

#error_log {
	height: 100px;
	color: red;
	text-align: center;
}